
@using XinTuo.Accounts.Models;
@{
    List<AccountCategoryRecord> cates = Model.Category;
    List<AuxiliaryTypeRecord> auxTypes = Model.AuxiliaryType;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("ResourcePartial")
    
    <style type="text/css">
        #acctForm div {
            padding: 10px;
        }

        #acctForm input {
            font-size: 14pt;
        }

    </style>
</head>
<body>

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:false,border:false" style="height:80px;padding:10px;overflow:hidden;">
            @foreach (AccountCategoryRecord c in cates)
            {
                <a href="javascript:void(0)" id="cate_@c.Id" class="easyui-linkbutton"
                   data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top',toggle:true,group:'g1'"
                   onclick="cateOnClick(@c.Id)" style="width:80px;">@c.CateName</a>
            }
        </div>
        <div data-options="region:'center',border:false" style="padding:10px;">
            <table class="easyui-datagrid" id="accDatagrid" 
                   data-options="singleSelect:true,toolbar: '#accToolbar',fitColumns:true,idField:'accCode',pagination:true">
                <thead>
                    <tr>
                        <th data-options="field:'accCode',align:'center',width:50" >@T("编码")</th>
                        <th data-options="field:'accName',align:'center',width:150" >@T("名称")</th>
                        <th data-options="field:'cateName',align:'center',width:150" >@T("类别")</th>
                        <th data-options="field:'direction',align:'center',width:50" >@T("余额方向")</th>
                        <th data-options="field:'auxTypeNames',align:'center',width:150">@T("辅助核算")</th>
                        <th data-options="field:'unit',align:'center',width:150">@T("数量单位")</th>
                        <th data-options="field:'accState',formatter:formatterAccState,align:'center',width:50">@T("状态")</th>
                    </tr>
                </thead>
            </table>

            <div id="accToolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="append()">新增</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="appendSub()">新增下级</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="edit()">编辑</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true" onclick="remove()">删除</a>
            </div>
        </div>
    </div>

    <div id="dataCache"></div>

    <div id="editDialog" class="easyui-dialog" title="编辑科目" style="width:450px;height:600px;font-size:14pt;" data-options="resizable:false,modal:true,closed: true,onBeforeOpen:editOnBeforeOpen">
        <form id="acctForm" method="post">

            <div>
                <input class="easyui-textbox" id="AccCode" name="AccCode" data-options="label:'@T("科目编码")',required:true" style="width:90%;height:32px">
            </div>

            <div>
                <input class="easyui-textbox" id="AccName" name="AccName" data-options="label:'@T("科目名称")',required:true" style="width:90%;height:32px">
            </div>

            <div>
                <input class="easyui-textbox" id="ParentCode" name="ParentCode" data-options="label:'@T("上级科目")'" style="width:90%;height:32px">
            </div>

            <div>
                <input class="easyui-combobox" id="CateId" name="CateId" data-options="label:'@T("科目类别")',required:true,valueField:'id',textField:'cateName',method: 'GET',editable:false" style="width:90%;height:32px">
            </div>

            <div>
                <label for="dirGroup" style="display:inline-block;" class="textbox-label textbox-label-before">余额方向</label>
                <fieldset id="dirGroup" style="display:inline;">
                    <input type="radio" id="dirDebit" name="dir" value="借" /><label for="dirDebit" style="display:inline;font-weight:bold;margin-right:10px;">借</label>
                    <input type="radio" id="dirCredit" name="dir" value="贷" /><label for="dirCredit" style="display:inline;font-weight:bold;">贷</label>
                </fieldset>
                <input type="hidden" id="Direction" name="Direction" />
            </div>

            <div>
                <input type="checkbox" id="IsAuxiliary" name="IsAuxiliary" /><label for="IsAuxiliary" style="display:inline;margin-left:5px;">辅助核算</label>
                <div id="auxItems" style="display:inline-block;">
                    @foreach (AuxiliaryTypeRecord aux in auxTypes)
                    {
                        <input type="checkbox" id="aux_@aux.Id"  value="@aux.Id" aux="@aux.AuxType" /><label for="aux_@aux.Id" style="display:inline;margin-left:5px;">@aux.AuxType</label>
                    }
                </div>
                <input type="hidden" id="AuxTypeIds" name="AuxTypeIds" />
                <input type="hidden" id="AuxTypeNames" name="AuxTypeNames" />
            </div>

            <div>
                <input type="checkbox" id="IsQuantity" name="IsQuantity" /><label for="IsQuantity" style="display:inline;margin-left:5px;">数量核算</label>
                <div id="qtyUnit" style="padding:0px;margin:0px;display:inline;">
                    <input class="easyui-textbox" id="Unit" name="Unit" data-options="label:'@T("计量单位")'" style="width:100%;height:32px">
                </div>
            </div>

            <div style="text-align:right;">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()" style="width:80px">确 定</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancel()" style="width:80px">取 消</a>
                <input type="hidden" id="acctTopCate" name="acctTopCate" />
                <input type="hidden" id="AccId" name="AccId" />
                <input type="hidden" id="__RequestVerificationToken" name="__RequestVerificationToken" value="@Html.AntiForgeryTokenValueOrchard()" />
            </div>

        </form>
    </div>

    

    <script type="text/javascript">


    $(function () {
        init();
    });

    function init()
    {
        $("#acctForm").form({
            url: "/api/a/save/",
            onSubmit: formOnSubmit,
            success: formSuccess
        });

        //启动或禁用辅助核算
        $("#IsAuxiliary").change(function () {
            if($(this).is(":checked"))
            {  
                $("#auxItems").show();
            }
            else
            {
                $("#auxItems").hide();
            }
        });
        $("#auxItems").hide();

        //启动或禁用数量核算
        $("#IsQuantity").change(function () {
            if ($(this).is(":checked")) {
                $("#qtyUnit").show();
            }
            else {
                $("#qtyUnit").hide();
            }
        });
        $("#qtyUnit").hide();
        //默认类别
        $("#cate_1").click();

    }

    function append()
    {
        //新增记录设置id为0
        $("#AccId").val(0);

        $("#editDialog").dialog('open');
    }

    function editOnBeforeOpen()
    {
        $("#CateId").combobox('reload', '/api/a/GetSubAccCate?cid=' + $("#acctTopCate").val());
    }

    function save()
    {
        //辅助核算
        var auxIds = $.map($("#auxItems > input:checked"),function(n){return $(n).val();}).join(",");
        var auxNames = $.map($("#auxItems > input:checked"),function(n){return $(n).attr("aux");}).join(",");
        $("#AuxTypeIds").val(auxIds);
        $("#AuxTypeNames").val(auxNames);

        //余额方向
        $("#Direction").val( $("#dirGroup > input:checked").val());

        $("#acctForm").submit();
    }

    function formOnSubmit() {
        return $(this).form('validate');
    }

    function formSuccess(data) {
        var cateId = $("#acctTopCate").val();
        $("#dataCache").removeData("account" + cateId);

        if(formSuccessHandle(data))
        {
            cateOnClick(cateId);
            $("#editDialog").dialog('close');
        }
    }

    function cancel()
    {
        $('#acctForm').form('clear');
        $("#editDialog").dialog('close');
    }

    function cateOnClick(cateId)
    {
        $("#acctTopCate").val(cateId);

        var dgCache = $("#dataCache").data("account"+cateId);

        if(dgCache == undefined)
        {
            $.get("/api/a/GetAccounts/",{cateid : cateId},function(data){
                $("#accDatagrid").datagrid("loadData", data);
                $("#dataCache").data("account" + cateId, data);
            });
        }
        else
        {
            $("#accDatagrid").datagrid("loadData", dgCache);
        }

        $("#accDatagrid").datagrid("doLayout");
    }


    function formatterAccState(value,row,index)
    {
        return value == 1?"已启用":"已禁用";
    }
    </script>


</body>
</html>